.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #F5B700!important;
    border-color:  #F5B700!important;
    box-shadow: 0 0 0 .1rem #53b3cb!important;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color:  #F5B700!important;
    border-color:  #F5B700!important;
}

::selection {
    background: #f6f3f3!important;
}

.text-primary{
    color: #53b3cb!important;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #F5B700!important;
}
  
.bootstrap_img_upload {
    min-height: 100vh;
    background-color: #757f9a;
  }
  
#upload {
    opacity: 0;
  }
  
#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
  
.image-area {
    border: 2px dashed #F5B700;
    padding: 1rem;
    position: relative;
  }
  
.image-area::before {
    content: 'Uploaded image result';
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}
  
.image-area img {
    z-index: 2;
    position: relative;
}

.btn-light{
    background-color: #F5B700!important;
    color: black!important;
}

.fa-cloud-upload{
    color: black!important;
}

.text-uppercase{
    color: black!important;
}

.input-group{
    background-color: #f8f9fa!important;
}